<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: black;
            color: #fff;
        }
        .main{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-size: 4rem;
            height: 73vh;
        }
        h1 {
            font-family: 'Space Grotesk', sans-serif;
        }

        button {
            background-color: #542BEC;
            width: 320px;
            height: 64px;
            font-size: 20px;
            padding: 16px;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: .5px;
            text-transform: uppercase;
            border: none;
            color: white;
            border-radius: 99px;
        }
        button:hover{
            background-color: #fff;
            color:#000;
        }
    </style>
</head>

<body>
    <div class="main">
        <h1 class="welcome" onmouseover="">WELCOME</h1>
        <button onclick="openWeb()"> HERE'S TO JOSHUA</button>
        <script src="./login.js"></script>
    </div>
</body>

</html>